{% load i18n %}
{% load default_template_tags %}
{% autoescape off %}
{%trans "You're receiving this email because you requested a password reset for your user account at " %}{% default_display_name %}
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{# {{protocol}}://{{domain}}/password-reset-confirm?uid={{uid}}&&token={{token}} #}
{% default_frontend_protocol %}://{% default_frontend_domain %}/password-reset-confirm?uid={{uid}}&&token={{token}}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
{% trans "Thanks for using our site!" %}
{% trans "The " %}{% default_display_name %} {% trans " Team" %}
{% endautoescape %}	