{% extends "email_base.html" %}

<!--
  This template is to inform users when their project is bookmarked.

  Required variable is the project object, to be used like the following:

    project.title
    project.description
    project.image -> link for the project's image
    project.bookmarked.by -> list of usernames who bookmarked the project
    project.link -> link for the project details
-->

{% block title %}You've been bookmarked!{% endblock %}

{% block content %}
  <h1 style="margin: 2em 0; font-size: 2em">You've been bookmarked!</h1>

  <p style="margin: 2em 0;">Your post just got bookmarked. Your content is worth saving!</p>

  <img src={{ project.image }} alt="Project Image" style="width: 100%; max-height: 16em; object-fit: cover; background-color: #000; border-radius: 1em 1em 0 0;">
  <h3 style="margin: 0.5em 0; font-size:1.17em">{{ project.title }}</h3>
  <p style="margin: 0; color: #757575">{{ project.description }}</p>
  <hr style="border-width: 0; background: #757575; color: #757575; height: .1px; margin: 1em 0;">
  <center>
    <p style="margin: 0.5 0; font-size: 0.8em; width: 90%">{{ project.bookmarked.by }} have bookmarked your project.</p>
  </center>

  <div style="margin: 3em 0 0 0">
    <p style="margin: 0;">Join the conversation now and engage with your audience. Click
      <a href={{ project.link }} style="color: #00B8C4; text-decoration: none;">
        here
      </a>
      to view more.
    </p>
  </div>
{% endblock %}