name: Backend Production Deployment

on:
  push:
    branches:
      - master
    paths:
      - "*"
      - "!zubhub_backend/.gitignore"
      - "!zubhub_backend/.env.example"
      - "!zubhub_backend/.dockerignore"
  workflow_dispatch:

jobs:
  path-context:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout files
        uses: actions/checkout@v2

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./zubhub_backend/
          file: ./zubhub_backend/Dockerfile
          push: true
          tags: unstructuredstudio/zubhub-backend:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
