name: Frontend Production Deployment

on:
  push:
    branches:
      - phase2
    paths:
      - "zubhub_frontend/zubhub/"
      - "!zubhub_frontend/zubhub/README.md"
      - "!zubhub_frontend/zubhub/.env.example"
      - "!zubhub_frontend/zubhub/.prettierrc.yaml"
      - "!zubhub_frontend/zubhub/.gitignore"
  workflow_dispatch:

jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Set up QEMU
#         uses: docker/setup-qemu-action@v1
#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v1
#       - name: Login to DockerHub
#         uses: docker/login-action@v1
#         with:
#           username: ${{ secrets.DOCKERHUB_USERNAME }}
#           password: ${{ secrets.DOCKERHUB_TOKEN }}

#       - name: Checkout files
#         uses: actions/checkout@v2

#       - name: Build and push
#         id: docker_build
#         uses: docker/build-push-action@v2
#         with:
#           context: ./zubhub_frontend/zubhub/
#           file: ./zubhub_frontend/zubhub/Dockerfile.prod
#           push: true
#           tags: unstructuredstudio/zubhub-frontend:latest
#       - name: Image digest
#         run: echo ${{ steps.docker_build.outputs.digest }}
  
  deploy:
#     needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Copy file via scp
        uses: appleboy/scp-action@master
        env:
          HOST: ${{ secrets.DO_FRONTEND_HOST }}
          USERNAME: ${{ secrets.DO_FRONTEND_USERNAME }}
          PORT: ${{ secrets.DO_SSHPORT }}
          KEY: ${{ secrets.DO_SSHKEY }}
        with:
          source: "."
          target: "/home/zubhub-frontend/zubhub"

      - name: Executing remote  command
        uses: appleboy/ssh-action@master
        with:
          HOST: ${{ secrets.DO_FRONTEND_HOST }}
          USERNAME: ${{ secrets.DO_FRONTEND_USERNAME }}
          PORT: ${{ secrets.DO_SSHPORT }}
          KEY: ${{ secrets.DO_SSHKEY }}
          script: /home/zubhub-frontend/zubhub_frontend/zubhub/deploy_frontend.sh
    
